p{color: red;
font-size: 16px;
}
#about-bootcamp {
    background: rgb(12, 234, 170);
    padding: 10px;}

body {
    background-color: azure;
    margin: 0;
}
nav {
    background-color: brown;
}
.text-center {
    text-align: center;
}

/*
r-red (0 - 255)
g-green (0 -255)
b-blue (0 -255)

color: red;
color: rgb(255, 0, 0)

color: blue;
color: rgb(0, 0, 255)

color: rgb(12, 234, 170)

color: rgb(0, 0, 0)
Sakirat Kehinde Usman
8:15 PM
/* hexadecimal - 16 
0-9
a-f
values between 00 and ff

#rrggbb - 
#000000 - black 
#ffffff-white


#0f347e
00
11
22
33
44
55
66
77
88
99
aa
bb
cc
dd
ee
ff
*/


.form-element {
    width: 20%;
    box-sizing: border-box;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
}
button {background-color: purple;
    color: white;
    padding: 10px;
    border: 0;
    border-radius: 5px;
    margin-bottom: 10px;
}
table {width: 100%;}
th {font-size: 18px;}
video { width: 350px; height: 350px;
}